
:root{
    --primary-dark-color:#333333;
    --primary-light-color:#666666;
}
.pricing-body .nk-menu-text {
    margin-left: 1rem;
    flex-grow: 0;
    display: inline-block;
}

.subscription-unerline{
    margin-bottom: 0px;
    margin-top: 9px;
}


/* .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #854fff;
    --bs-btn-border-color: #854fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7143d9;
    --bs-btn-hover-border-color: #6a3fcc;
    --bs-btn-focus-shadow-rgb: 151, 105, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6a3fcc;
    --bs-btn-active-border-color: #643bbf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(16, 25, 36, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #854fff;
    --bs-btn-disabled-border-color: #854fff;
} */
/* .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #003366;
    --bs-btn-border-color: #003366;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0059b3;
    --bs-btn-hover-border-color: #0059b3;
    --bs-btn-focus-shadow-rgb: 151, 105, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0059b3;
    --bs-btn-active-border-color: #0059b3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(16, 25, 36, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #003366;
    --bs-btn-disabled-border-color: #003366;
}

.is-light .nk-menu-link,.nk-menu-icon {
    color: #003366;
} */



 