.root{
    --primary-text-color:#333333;
    --primary-light-gray:#003366;
    --secondary-bg-color:#F4F4F4;
    --primary-bg-color: #FFFFFF;
}



.pricing-body .nk-menu-text {
    margin-left: 1rem;
    flex-grow: 0;
    display: inline-block;
}

.subscription-unerline{
    margin-bottom: 0px;
    margin-top: 9px;
}



 