<div style="font-family: Arial, sans-serif; line-height: 1.6">
  <div style="color: black !important">
    <h2>Hello,</h2>
    <p>
      We receive a request to reset the password for your account. Please use
      the One Time Password (OTP) provided below to complete the process.
    </p>
  </div>
  <h3 style="color: #2e86c1">{{otp}}</h3>
  <div style="color: black !important">
    <p>
      This OTP is valid for the next <strong>15 minutes</strong>. If you did not
      request this, please ignore this email.
    </p>
    <p>Thank you,</p>
    <p><strong>Aeriesys Team</strong></p>
  </div>
</div>
